A Frederick Christensen <fauxmight@nosocomia.com> <fauxmight@noscocomia.com>
Alexander Færøy <ahf@exherbo.org> <eroyf@eroyf.org>
Ali Polatel <alip@exherbo.org> <hawking@gentoo.org>
Ali Polatel <alip@exherbo.org> <polatel@gmail.com>
Anders Ossowicki <aowi@exherbo.org> <arkanoid@exherbo.org>
Anders Ossowicki <aowi@exherbo.org> <root@arwen.(none)>
Bernd Steinhauser <berniyh@exherbo.org> <gentoo@bernd-steinhauser.de>
Bo Ørsted Andresen <zlin@exherbo.org> <zlin@gentoo.org>
Bryan Østergaard <kloeri@exherbo.org> <kloeri@laptop.(none)>
Bryan Østergaard <kloeri@exherbo.org> <kloeri@localhost.(none)>
Ciaran McCreesh <ciaran.mccreesh@googlemail.com> <hilter@moo.cow>
Ciaran McCreesh <ciaran.mccreesh@googlemail.com> <ciaranm@exherbo.org>
Daniel Mierswa <impulze@impulze.org>
David Leverton <dleverton@exherbo.org> <root@exherbo.vm>
Elias Pipping <pipping@exherbo.org> <elias@pipping.org>
Fernando J. Pereda <ferdy@exherbo.org> <ferdy@ferdyx.org>
Ingmar Vanhassel <ingmar@exherbo.org> <ingmar@gentoo.org>
Kim Højgaard-Hansen <kimrhh@exherbo.org>
Łukasz P. Michalik <lpmichalik@googlemail.com> Łukasz P. Michalik <lmi@ift.uni.wroc.pl>
Marvin Schmidt <marv@exherbo.org> <marvin_schmidt@gmx.net>
Maxime Coste <frrrwww@gmail.com>
Nathan McSween <0bfuscate@gmx.com>
Nathan McSween <0bfuscate@gmx.com> <0bfusacte@gmx.com>
Richard Brown <rbrown@exherbo.org> <rb@notebook2.(none)>
Saleem Abdulrasool <compnerd@exherbo.org> <compnerd@lithium.(none)>
Saleem Abdulrasool <compnerd@exherbo.org> <compnerd@compnerd.org>
Saleem Abdulrasool <compnerd@exherbo.org> <compnerd@strontium.compnerd.org>
Stephen Bennett <spb@exherbo.org>
Sterling X. Winter <replica@exherbo.org> <sterling.winter@gmail.com>
Thomas Anderson <gentoofan23@gentoo.org> <thomas@nosredna.net>
Timo Gurr <tgurr@exherbo.org> tgurr <tgurr@gentoo.org>
Wulf C. Krueger <philantrop@exherbo.org> <philantrop@gentoo.org>
Wulf C. Krueger <philantrop@exherbo.org> <root@exherbo-amd64.(none)>
Xavier Barrachina <xabarci@ega.upv.es> <nus.gentoo@gmail.com>
